tensorboard<2.3.0,>=2.2.0
gast==0.3.3
tensorflow-estimator<2.3.0,>=2.2.0rc0
tensorflow-gpu>=1.4.1
umap-learn
umap-learn
visdom
webrtcvad
librosa>=0.5.1
matplotlib>=2.0.2
numpy>=1.14.0
scipy>=1.0.0
tqdm
sounddevice
Unidecode
inflect
PyQt5
multiprocess
numba
